In [1]:
import numpy as np
import pandas as pd

In [2]:
x=pd.read_csv(r"D:\work\all_grains_data.csv")

In [3]:
x

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

# 1. Which commodity was having the highest opening price for the day.

In [4]:
x.loc[x["open"].max()]

ticker             ZC=F
commodity          Corn
date         2010-05-07
open             362.25
high             367.75
low              360.75
close            364.75
volume             5188
Name: 2435, dtype: object

# 2.Which commodity price reached  maximum during the trading session.

In [6]:
x["high"].max()

2468.5

In [7]:
x.loc[x["high"]==2468.5]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

# 5. Which year have  maximum and minimum Number of contracts traded

In [14]:
x["volume"].max()

523849

In [15]:
x.loc[x["volume"]==523849,["date"]]

            date
4216  2017-06-07

In [16]:
x["volume"].min()

0

In [17]:
x.loc[x["volume"]==0,["date"]]

             date
821    2003-12-11
1328   2005-12-13
4486   2018-07-03
4528   2018-08-31
5682   2023-04-06
...           ...
29219  2001-03-13
30306  2005-07-12
33573  2018-07-03
33615  2018-08-31
34771  2023-04-06

[2812 rows x 1 columns]